{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!--Under Construction Section-->
<section>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-8 col-md-offset-2 text-center pt-50 pb-50">
                <h1 class="font-72 mb-0 text-white">4 <span class="font-72"><i class="fa fa-smile-o"></i></span> 4</h1>
                <h2 class="text-thm mb-10 m-0">Oops! Page Not Found</h2>
                <p class="font-24">The page you were looking for could not be found.</p>
                <a href="/" class="thm-btn btn-lg mt-20">Return Home <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>

<br><br><br><br><br><br>


{% endblock %}