{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="event-feature pb-60 pt-60" data-bg-color="#fafafa">

    <div class="container">

        <div class="row">

            {% for charity in charities %}
            <div class="col-sm-12">
                <div class="featured-causes mb-20 pr-15">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="thumb">
                                <a href="/charity/{{ charity.id }}/">
                                    <img class="img-responsive" src="{{ charity.image_url }}">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="causes-details">
                                <h3>{{ charity.name }}</h3>
                                <ul class="list-inline">
                                    <li>Raised: £ {{charity.raised}}</li>
                                    <li class="text-thm">Goal: £ {{charity.goal}}</li>
                                </ul>
                                <!--<div class="causes-progress">-->
                                <!--<div class="progress-item">-->
                                <!--<div class="progress" data-value="85">-->
                                <!--<div class="progress-bar" role="progressbar" aria-valuenow="85"-->
                                <!--aria-valuemin="0" aria-valuemax="100">-->
                                <!--<div class="value-holder"><span class="value"></span>%</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<p class="p-title">Lorem ipsum dolor sit amet, consectet adipisicing elit. Sed ullam-->
                                    <!--sequi at.</p>-->
                                <p>{{ charity.description }}</p>
                                {% if charity.just_giving_link %}

                                <div class="pull-left">
                                    <h6>Help us by share:</h6>
                                    <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                                <br>
                                <div class="pull-left">
                                    <a class="thm-btn btn-xs mt_30" href="{{ charity.just_giving_link }}" target="_blank">Donate Now</a>
                                </div>
                                {% else %}
                                <div class="share">
                                    <h6>Help us by share:</h6>
                                    <ul class="social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!--<div class="col-sm-12">-->
                <!--&lt;!&ndash;Pagination&ndash;&gt;-->
                <!--<div class="pager-outer clearfix text-right mt_30 mb_0">-->
                    <!--<ul class="pagination mb_0">-->
                        <!--<li><a href="#">Prev</a></li>-->
                        <!--<li class="active"><a href="#">1</a></li>-->
                        <!--<li><a href="#">2</a></li>-->
                        <!--<li><a href="#">3</a></li>-->
                        <!--<li><a href="#">-</a></li>-->
                        <!--<li><a href="#">4</a></li>-->
                        <!--<li><a href="#">5</a></li>-->
                        <!--<li><a href="#">Next</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>


{% endblock %}
