{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="event-feature sec-padding pt-60" data-bg-color="#fafafa">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured-causes mb-20 pr-15">
                    <div class="col-md-12">
                        <div class="thumb">
                            <!-- <img class="full-width" src="images/causes/c1.jpg" alt=""> -->
                        </div>
                    </div>
                    <div class="col-md-12 p-20">
                        <div class="causes-details">
                            <h1>{{organisation.name }}</h1>
                            <p class="p-title"> Description</p>
                            <p>{{organisation.description}}</p>
                            <div class="pull-left">
                                <a class="thm-btn btn-xs mt_30" href="#">Donate Now</a>
                            </div>
                            <div class="pull-right">
                                <h6>Help us by share:</h6>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 p-20">

                        <h3>Wishlist</h3>
                        <ol>
                            {% for item in org_wishlist.item_set.all %}
                            <li>
                                <b>{{item.name}}</b>
                                <br>
                                {{item.description}}
                            </li>
                            <br>
                            {% empty %}
                            <h4>No Items in Wishlist</h4>
                            {% endfor %}
                        </ol>

                        <div class="col-md-6">

                            <h3>Primary Contact Details</h3>
                            <ul>
                                <li><b>First Name:</b> {{org_primary.first_name }}</li>
                                <li><b>Surname:</b> {{org_primary.surname}}</li>
                                <li><b>Telephone:</b> {{org_primary.telephone}}</li>
                                <li><b>Mobile:</b> {{org_primary.mobile}}</li>
                                <li><b>Email:</b> {{org_primary.email}}</li>
                                <br><br>

                                <li><b>Address:</b>
                                    <ul>
                                        <li>Street: {{org_primary.address.address_line}}</li>
                                        <li>County: {{org_primary.address.county}}</li>
                                        <li>Postcode: {{org_primary.address.postcode}}</li>

                                    </ul>
                                </li>
                            </ul>

                        </div>

                        <div class="col-md-6">
                            <h3>Address</h3>
                            <ul>
                                <li><b>Street:</b> {{org_address.address_line}}</li>
                                <li>
                                    <b>County:</b> {{org_address.county}}
                                </li>
                                <li><b>Postcode:</b> {{org_address.postcode}}</li>
                            </ul>

                        </div>


                    </div>

                </div>


            </div>


        </div>
    </div>
</section>
{% endblock %}