{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="contact-content sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <p>If you are interested in contacting us, please fill out the form below.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Address</h2>
                <ul class="contact-info">
                    <li>
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fa fa-map-marker"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4>Address</h4>
                            <p>165 Avoneil Road ,
                            <br>Belfast, BT5 4SG</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4>Phone</h4>
                            <p>(+44) 07707 285 085</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box">
                            <div class="inner">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4>Email</h4>
                            <p>contact@belfastcares.co.uk, kyle90adam@hotmail.com</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>Contact Form</h2>
                <form action="inc/sendemail.php" class="contact-form row" id="contact-page-contact-form">
                    <div class="col-md-6">
                        <input type="text" name="name" placeholder="Name">
                        <input type="text" name="email" placeholder="Email">
                        <input type="text" name="phone" placeholder="Phone">
                    </div>
                    <div class="col-md-6">
                        <textarea name="message" placeholder="Message" cols="30" rows="10"></textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="thm-btn" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}
