{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="sec-padding faq-home faq-page pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>
                                <span class="text">What you can do to help?</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Each organisation has different needs, and different ways to help. 
                            One of the most valuable things that you can do is to ask an organisation what they actually need.
                            Some organisations are in desperate need of volunteers, some need donations. 
                            Often charities will need specific things like toiletries or blankets. </p>
                            <p></p>
                        </div>
                    </div>
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>
                                <span class="text">Have you seen someone in need?</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Contact a charity. Charities have a wealth of experience helping those in need, and know what's really important.  
                               Their advice can ensure that someone in need gets the support that really matters.</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>
                                <span class="text">Donating to a Charity or Organisation?</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Charities and Organisations need money all year round, not just at Christmas. 
                            Often the most effective way of donating to a charity is to set up a direct debit. 
                            It might sound boring, but a predictable cashflow will help ensure that an organisation can provide support throughout the year. </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
