{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="sec-padding faq-home faq-page pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>
									<span class="decor">
										<span class="inner"></span>
									</span>
                                <span class="text">What you can do to help?</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Lorem ipsum dolor sit amet, ea vel quem nullam, adhuc vituperata mea ei, verear regione
                                ornatus ius ut. Saperet adipisci forensibus quo at, eam in ridens nonumes. Placerat
                                eleifend recteque ea mei, vim mazim meliore dissentiet ea. Qui ea suas utinam indoctum,
                                ex usu ceteros comprehensam, labores facilisis</p>
                            <p>eu mea. Adhuc mucius ancillae ut vix, pri id quod enim inciderint, ludus reformidans eam
                                te. Nostro praesent inciderint pri eu, ea facilis facilisi cum, ancilla gloriatur id
                                vim. No his accumsan suavitate, movet splendide philosophia at vim.Eu eum paulo
                                salutatus. Eu ubique maiestatis sea, pri legimus fabellas ex, no inimicus lorem ipsum is
                                a dummy text</p>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
									<span class="decor">
										<span class="inner"></span>
									</span>
                                <span class="text">Have you seen someone in need?</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Lorem ipsum dolor sit amet, ea vel quem nullam, adhuc vituperata mea ei, verear regione
                                ornatus ius ut. Saperet adipisci forensibus quo at, eam in ridens nonumes. Placerat
                                eleifend recteque ea mei, vim mazim meliore dissentiet ea. Qui ea suas utinam indoctum,
                                ex usu ceteros comprehensam, labores facilisis</p>
                            <p>eu mea. Adhuc mucius ancillae ut vix, pri id quod enim inciderint, ludus reformidans eam
                                te. Nostro praesent inciderint pri eu, ea facilis facilisi cum, ancilla gloriatur id
                                vim. No his accumsan suavitate, movet splendide philosophia at vim.Eu eum paulo
                                salutatus. Eu ubique maiestatis sea, pri legimus fabellas ex, no inimicus lorem ipsum is
                                a dummy text</p>
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>
									<span class="decor">
										<span class="inner"></span>
									</span>
                                <span class="text">Donating to a Charity or Organisation?</span>
                            </h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Lorem ipsum dolor sit amet, ea vel quem nullam, adhuc vituperata mea ei, verear regione
                                ornatus ius ut. Saperet adipisci forensibus quo at, eam in ridens nonumes. Placerat
                                eleifend recteque ea mei, vim mazim meliore dissentiet ea. Qui ea suas utinam indoctum,
                                ex usu ceteros comprehensam, labores facilisis</p>
                            <p>eu mea. Adhuc mucius ancillae ut vix, pri id quod enim inciderint, ludus reformidans eam
                                te. Nostro praesent inciderint pri eu, ea facilis facilisi cum, ancilla gloriatur id
                                vim. No his accumsan suavitate, movet splendide philosophia at vim.Eu eum paulo
                                salutatus. Eu ubique maiestatis sea, pri legimus fabellas ex, no inimicus lorem ipsum is
                                a dummy text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}