{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- /.mainmenu-area -->

<!--Rev Slider Wrapper Column-->
<section class="rev_slider_wrapper bannercontainer">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>

            <!-- SLIDE 1 -->
            <li data-index="rs-1" data-transition="fade" data-slotamount="2" data-easein="default"
                data-easeout="default" data-masterspeed="3000" data-thumb="{% static 'img/bg/home_hero_1.jpg' %}"
                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                data-saveperformance="off" data-title="Intro" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img/bg/home_hero_1.jpg' %}" alt="" data-bgposition="50% 90%" data-bgfit="cover"
                     data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-uppercase"
                     id="rs-1-layer-1"

                     data-x="['left','left','left','left']"
                     data-hoffset="['370','200','30','17']"
                     data-y="['center','center','center','center']"
                     data-voffset="['10','110','180','160']"
                     data-fontsize="['78']"
                     data-lineheight="['60']"
                     data-width="['none','none','none','400']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="500"
                     data-splitin="none"
                     data-splitout="none"
                     data-basealign="slide"
                     data-responsive_offset="on"
                     style="z-index: 6; white-space: nowrap;"><span class="text-white">SHOW YOU </span><span
                        class="text-thm">CARE</span>
                </div>

            </li>

            <!-- SLIDE 2 -->
            <li data-index="rs-2" data-transition="fade" data-slotamount="7" data-easein="default"
                data-easeout="default" data-masterspeed="1000" data-thumb="{% static 'img/bg/home_hero_2.jpg' %}"
                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                data-saveperformance="off" data-title="Intro" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img/bg/home_hero_2.jpg' %}" alt="" data-bgposition="center center"
                     data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-uppercase"
                     id="rs-2-layer-1"

                     data-x="['left','left','left','left']"
                     data-hoffset="['370','200','30','17']"
                     data-y="['center','center','center','center']"
                     data-voffset="['10','110','180','160']"
                     data-fontsize="['78']"
                     data-lineheight="['60']"
                     data-width="['none','none','none','400']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="500"
                     data-splitin="none"
                     data-splitout="none"
                     data-basealign="slide"
                     data-responsive_offset="on"
                     style="z-index: 6; white-space: nowrap;"><span class="text-white">HELP THOSE IN</span><span
                        class="text-thm"> NEED</span>
                </div>

            </li>

        </ul>
    </div>
</section>

<!--Featured Three Column-->
<section class="featured-three-column mt-sm-70">
    <div class="container">
        <div class="row clearfix">
            <!--Column-->
            <div class="col-xs-12 col-sm-6 col-md-6 column wow fadeInRight" data-wow-delay="200ms"
                 data-wow-duration="1500ms">
                <article class="inner-box dark-overlay bg-img-cover"
                         style="background-image: url(% static 'img/features/3.jpg' %});">
                    <div class="content">
                        <h3>Help</h3>
                        <div class="text">
                            <p>Find out the proper steps to take if you encounter a vulnerable individual in need.</p>
                        </div>
                        <div class="link"><a href="/help" class="thm-btn inverse"><i
                                class="fa fa-caret-right text-text-thmed"></i> Read More</a></div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <div class="col-xs-12 col-sm-6 col-md-6 column wow fadeInUp" data-wow-delay="200ms"
                 data-wow-duration="1500ms">
                <article class="inner-box dark-overlay bg-img-cover"
                         style="background-image: url(% static 'img/features/1.jpg' %});">
                    <div class="content">
                        <h3>Donate</h3>
                        <div class="text">
                            <p>Find out which items would be most helpful to organisations in Belfast with the aid of
                                informative wishlists.</p>
                        </div>
                        <div class="link"><a href="/charities" class="thm-btn inverse"><i
                                class="fa fa-caret-right text-text-thmed"></i> Donate Now</a></div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <!--<div class="col-xs-12 col-sm-6 col-md-4 column wow fadeInUp" data-wow-delay="700ms"-->
                 <!--data-wow-duration="1500ms">-->
                <!--<article class="inner-box bg-img-cover"-->
                         <!--style="background-image: url(% static 'img/features/2.jpg' %});">-->
                    <!--<div class="content">-->
                        <!--<h3>Volunteer</h3>-->
                        <!--<div class="text">-->
                            <!--<p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh-->
                                <!--vitae fermentum finibus. Donec malesuada efficitur dapibus. Cras euismod nunc tellus,-->
                                <!--eget tempor purus.</p>-->
                        <!--</div>-->
                        <!--<div class="link"><a href="/volunteers" class="read-more thm-btn normal-btn"><span-->
                                <!--class="fa fa-caret-right"></span> Join Now</a></div>-->
                    <!--</div>-->
                <!--</article>-->
            <!--</div>-->
        </div>
    </div>
</section>

<!--Start Our Mission Area-->
<section class="home-serivce sec-padding pb-0">
    <div class="container">
        <div class="sec-title text-center">
            <span class="double-line"></span> &ensp;
            <h2>Our Mission</h2> &ensp; <span class="double-line"></span>
            <p>To make Belfast a better place for all</p>
        </div>
        <div class="sec-content">
            <div class="row">
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-gesture-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Sharing Knowledge</h3>
                            <p>Informing members of the public about charitable organisations</p>
                            <a href="help">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-people-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Enabling Donations</h3>
                            <p>Letting people know where to send their unneeded items </p>
                            <a href="help">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-hand"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Organisation Wishlists</h3>
                            <p>Helping organisations communicate which items are needed most</p>
                            <a href="help">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-people-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Helping Vulnerable Individuals</h3>
                            <p>Making those in need aware of the help available </p>
                            <a href="help">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-hand"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Creating a Sense of Community</h3>
                            <p>Bringing people together for a common good</p>
                            <a href="help">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-gesture-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Making Northern Ireland a Better Place</h3>
                            <p>Show the world we care </p>
                            <a href="help">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
