{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="event-feature sec-padding pt-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured-causes mb-20 pr-15">
                    <div class="col-md-12">
                        <div class="thumb">
                            <!-- <img class="full-width" src="images/causes/c1.jpg" alt=""> -->
                        </div>
                    </div>
                    <div class="col-md-12 p-20">
                        <div class="causes-details">
                            <h1>{{organisation.name }}</h1>
                            <p class="p-title"> Description</p>
                            <p>{{organisation.description}}</p>
                            <div class="pull-left">
                                <a class="thm-btn btn-xs mt_30" href="{{organisation.just_giving_link}}">Donate Now</a>
                            </div>
                            <div class="pull-right">
                                <img src="{{organisation.image.url}}" alt="">
                                <h6>Help us by sharing:</h6>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 p-20">
                        <h3>Wishlist</h3>
                        <ol>
                            {% for item in org_wishlist.items.all %}
                            <li>
                                <b>{{item.name}}</b>
                                <br>
                                {{item.description}}
                            </li>
                            <br>
                            {% empty %}
                            <h4>No Items in Wishlist</h4>
                            {% endfor %}
                        </ol>
                        <div class="col-md-6">
                            <h3>Primary Contact Details</h3>
                            <ul>
                                <li><b>First Name:</b> {{org_primary.first_name }}</li>
                                <li><b>Surname:</b> {{org_primary.surname}}</li>
                                <li><b>Telephone:</b> {{org_primary.telephone}}</li>
                                <li><b>Mobile:</b> {{org_primary.mobile}}</li>
                                <li><b>Email:</b> {{org_primary.email}}</li>
                                <br><br>
                                <li><b>Address:</b>
                                    <ul>
                                        <li>Street: {{org_primary.address.address_line}}</li>
                                        <li>County: {{org_primary.address.county}}</li>
                                        <li>Postcode: {{org_primary.address.postcode}}</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sidebar Section-->
<div class="sidebar-section no-bg" id="sidebar-section">

    <div class="container pt-50 pb-50">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-md-12">
                <!--Services Section-->
                <!-- .product-details-page-content -->
                <div class="product-details-page-content">

                    <div class="product-details-tab-title row">
                        <div class="col-lg-12">
                            <ul class="border-bottom">
                                <li data-tab-name="description" class="active"><span>Descripton</span></li>
                                <li data-tab-name="wishlist"><span>Wishlist</span></li>
                                <li data-tab-name="contact"><span>Contact</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-details-tab-content row">
                        <div class="col-lg-12" id="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                                anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum</p>
                        </div>
                        <div class="col-lg-12" id="wishlist">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                                anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum</p>
                        </div>
                        <div class="col-lg-12" id="contact">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                                anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum</p>
                        </div>
                    </div>

                    <div class="row best-seller">
                        <div class="sec-title style-three">
                            <h2>Related Organisations</h2>
                        </div>
                    </div>
                    <div class="row shop-page-content">
                        <div class="col-lg-3 col-md-6 col-xs-12 single-shop-item">
                            <img src="https://placehold.it/255x194" alt="">
                            <div class="meta">
                                <h4>Organisation 1</h4>
                                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit,</p>
                                <a href="#" class="add-to-cart hvr-bounce-to-right">View</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12 single-shop-item">
                            <img src="https://placehold.it/255x194" alt="">
                            <div class="meta">
                                <h4>Organisation 2</h4>
                                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit,</p>
                                <a href="#" class="add-to-cart hvr-bounce-to-right">View</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12 single-shop-item">
                            <img src="https://placehold.it/255x194" alt="">
                            <div class="meta">
                                <h4>Product Title here</h4>
                                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit,</p>
                                <a href="#" class="add-to-cart hvr-bounce-to-right">View</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12 single-shop-item">
                            <img src="https://placehold.it/255x194" alt="">
                            <div class="meta">
                                <h4>Product Title here</h4>
                                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit,</p>
                                <a href="#" class="add-to-cart hvr-bounce-to-right">View</a>
                            </div>
                        </div>
                    </div>

                </div> <!-- /.product-details-page-content -->
            </div>

        </div>
    </div>
</div>


{% endblock %}