{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="sec-padding volunteer-profile">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ volunteer.image.url }}" alt="">
            </div>
            <div class="col-md-8 single-team-member">
                {% with volunteer.first_name|add:' '|add:volunteer.surname as volunteer_name %}
                <h3>{{ volunteer_name }}</h3>
                {%  endwith %}
                <span>{{ volunteer.occupation }}</span>
                <p>{{ volunteer.about_me }}</p>
                <ul class="infos">
                    <li><span>Experience</span> <span>{{ volunteer.experience }}</span></li>
                    <li><span>Training</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;{{ volunteer.training }}</span></li>
                </ul>
                <ul class="social">
                    {% if volunteer.facebook_link %}
                    <li><a class="bdrs-0" href="{{ volunteer.facebook_link }}"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if volunteer.twitter_link %}
                    <li><a class="bdrs-0" href="{{ volunteer.twitter_link }}"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
