{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="sec-padding volunteer-profile">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="images/team/single-volunteer.jpg" alt="">
            </div>
            <div class="col-md-8 single-team-member">
                <h3>Rashed Kabir</h3>
                <span>Businessman</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod it tincidunt
                    ut laoreet commodo consequat. Duis autem vel eum iriure tation dolore lorem ipsue magna aliquam erat
                    the dummy text use for sample text</p>
                <ul class="infos">
                    <li><span>Hobby</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gardening</span></li>
                    <li><span>Degrees</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M.D. of Finance</span></li>
                    <li><span>Experience</span> <span>38 years of Experience</span></li>
                    <li><span>Training</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur , sed do eiusmod tempor</span>
                    </li>
                    <li><span>Degrees</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Monday, Friday</span></li>
                </ul>
                <ul class="social">
                    <li><a class="bdrs-0" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="bdrs-0" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="bdrs-0" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="bdrs-0" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="bdrs-0" href="#"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="home-appointment-form volunteer-profile">
    <div class="container">
        <hr>
        <div class="heading">
            <h3>Became a part of the world by joined our volunteer group.<br> Join Now!!</h3>
        </div>
        <div class="form-grp clearfix">
            <form action="#" class="clearfix contact-form" id="appointment-form">
                <div class="single-form">
                    <input type="text" placeholder="Full Name" name="name">
                </div>
                <div class="single-form">
                    <input type="text" placeholder="Email" name="email">
                </div>
                <div class="single-form">
                    <div class="select-input-wrapper">
                        <select class="select-input" name="category">
                            <option value="" selected="selected">Select Your Country</option>
                            <option value="General Motors">Japan</option>
                            <option value="Land Rover">Australia</option>
                            <option value="Lexus">Bangladesh</option>
                            <option value="Lincoln">Japan</option>
                            <option value="Lincoln">Bangladesh</option>
                        </select>
                    </div>
                </div>
                <div class="single-form">
                    <div class="select-input-wrapper">
                        <select class="select-input" name="category">
                            <option value="" selected="selected">Select City</option>
                            <option value="General Motors">Dhaka</option>
                            <option value="Land Rover">Khulna</option>
                            <option value="Lexus">Dhaka</option>
                            <option value="Lincoln">Khulna</option>
                            <option value="Lincoln">Dhaka</option>
                        </select>
                    </div>
                </div>
                <div class="single-form">
                    <button type="submit">Send Now</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}