{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="sec-padding meet-Volunteer pb_30">
    <div class="container">
        <div class="row">
            <div class="our-volenteer">
                <!--Start Single volenteer-->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-30">
                    <div class="single-volenteer pb-sm-30">
                        <div class="volenteer-image-holder">
                            <img src="images/team/1.jpg" alt="">
                            <div class="volenteer-overlay">
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
                                </div>
                                <div class="volenteer-minus-icon">
                                    <img src="images/team/volenteer-minus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="volenteer-plus-icon">
                                <img src="images/team/volenteer-plus-icon-golden.png" alt="">
                            </div>
                        </div>
                        <div class="volenteer-name text-center">
                            <h5>John Martin</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--Start Single volenteer-->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-30">
                    <div class="single-volenteer pb-sm-30">
                        <div class="volenteer-image-holder">
                            <img src="images/team/2.jpg" alt="">
                            <div class="volenteer-overlay">
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
                                </div>
                                <div class="volenteer-minus-icon">
                                    <img src="images/team/volenteer-minus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="volenteer-plus-icon">
                                <img src="images/team/volenteer-plus-icon-golden.png" alt="">
                            </div>
                        </div>
                        <div class="volenteer-name text-center">
                            <h5>John Martin</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--Start Single volenteer-->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-30">
                    <div class="single-volenteer pb-sm-30">
                        <div class="volenteer-image-holder">
                            <img src="images/team/3.jpg" alt="">
                            <div class="volenteer-overlay">
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
                                </div>
                                <div class="volenteer-minus-icon">
                                    <img src="images/team/volenteer-minus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="volenteer-plus-icon">
                                <img src="images/team/volenteer-plus-icon-golden.png" alt="">
                            </div>
                        </div>
                        <div class="volenteer-name text-center">
                            <h5>John Martin</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--Start Single volenteer-->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mb-30">
                    <div class="single-volenteer pb-sm-30">
                        <div class="volenteer-image-holder">
                            <img src="images/team/4.jpg" alt="">
                            <div class="volenteer-overlay">
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
                                </div>
                                <div class="volenteer-minus-icon">
                                    <img src="images/team/volenteer-minus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="volenteer-plus-icon">
                                <img src="images/team/volenteer-plus-icon-golden.png" alt="">
                            </div>
                        </div>
                        <div class="volenteer-name text-center">
                            <h5>John Martin</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--End Single volenteer-->
                <!--Start Single volenteer-->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="single-volenteer pb-sm-30">
                        <div class="volenteer-image-holder">
                            <img src="images/team/1.jpg" alt="">
                            <div class="volenteer-overlay">
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
                                </div>
                                <div class="volenteer-minus-icon">
                                    <img src="images/team/volenteer-minus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="volenteer-plus-icon">
                                <img src="images/team/volenteer-plus-icon-golden.png" alt="">
                            </div>
                        </div>
                        <div class="volenteer-name text-center">
                            <h5>John Martin</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--Start Single volenteer-->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="single-volenteer pb-sm-30">
                        <div class="volenteer-image-holder">
                            <img src="images/team/2.jpg" alt="">
                            <div class="volenteer-overlay">
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
                                </div>
                                <div class="volenteer-minus-icon">
                                    <img src="images/team/volenteer-minus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="volenteer-plus-icon">
                                <img src="images/team/volenteer-plus-icon-golden.png" alt="">
                            </div>
                        </div>
                        <div class="volenteer-name text-center">
                            <h5>John Martin</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--Start Single volenteer-->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="single-volenteer pb-sm-30">
                        <div class="volenteer-image-holder">
                            <img src="images/team/3.jpg" alt="">
                            <div class="volenteer-overlay">
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
                                </div>
                                <div class="volenteer-minus-icon">
                                    <img src="images/team/volenteer-minus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="volenteer-plus-icon">
                                <img src="images/team/volenteer-plus-icon-golden.png" alt="">
                            </div>
                        </div>
                        <div class="volenteer-name text-center">
                            <h5>John Martin</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--Start Single volenteer-->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="single-volenteer pb-sm-30">
                        <div class="volenteer-image-holder">
                            <img src="images/team/4.jpg" alt="">
                            <div class="volenteer-overlay">
                                <div class="social-links">
                                    <a href=""><i class="fa fa-facebook mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-twitter mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-google-plus mysocial_style"></i></a>
                                    <a href=""><i class="fa fa-linkedin mysocial_style"></i></a>
                                </div>
                                <div class="volenteer-minus-icon">
                                    <img src="images/team/volenteer-minus-icon.png" alt="">
                                </div>
                            </div>
                            <div class="volenteer-plus-icon">
                                <img src="images/team/volenteer-plus-icon-golden.png" alt="">
                            </div>
                        </div>
                        <div class="volenteer-name text-center">
                            <h5>John Martin</h5>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
                <!--End Single volenteer-->
            </div>
        </div>
    </div>
</section>
<section class="overlay-white sec-padding parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 promote-project text-center">
                <h3>Save Children From Hunger</h3>
                <div class="sec-title colored text-center">
                        <span class="decor">
							<span class="inner"></span>
                        </span>
                </div>
                <h2>Became a part of the world lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore. Amido ipsum
                    dolor sit amet, consectetur adipisicing elit. Numquam quaerat atque, dolore.Lorem ipsum dolor sit
                    amet, consectetur.</p>
                <a href="#" class="thm-btn">Donate Now</a>
                <a href="#" class="thm-btn inverse">Read More</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}